{% load static %}
<div class="card shadow-sm">
    <svg class="bd-placeholder-img card-img-top" href="catalog/{{item.id}}" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{item.name}}</text></svg>
    <div class="card-body">
      <p class="card-text">Это карточка товара. Не знаю как тут сделать структуру на будущее, так что она такая, какая есть. Не судите её за это</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary" href="catalog/{{item.id}}">View</button>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>