{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Главная</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Когда-нибудь тут будет что-то интересное. А сейчас просто насладитесь котом. Он тоже не понимает, почему упала ЛМС</p>
  </div>
  <div class="overflow-hidden">
    <div class="container px-5">
      <img src="{% static './img/logo.jpg'%}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="299" height="302" loading="lazy">
    </div>
  </div>
</div>
{% for item in items %}
  {% include "includes/item_card.html"%}
{% endfor %}
{% endblock %}
